rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /blogs/{blogId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }

    match /enquiries/{enquiryId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }

    match /admins/{adminId} {
      allow read, create, update, delete: if request.auth != null;
    }

    match /categories/{categoryId} {
      allow read, create, update, delete: if request.auth != null;
    }
  }
}
